/* Connect Custom Fonts */
@font-face {
font-family: 'Verdana',  sans-serif;
src: url('../fonts/Verdana.ttf');
}

/* BODY START */

.main-bg {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.container {
    width: 1064px;
    margin: 0 auto;
}

/* BODY-END */

/* HEADER START */

.header {
    padding-top: 49px;
}

.header-logo-img {
    margin-right: 15px;
    background-image: url(../img/css_sprites.png);
    display: block;
    width: 46px;
    height: 44px;
    background-position: -10px -10px;
}

.header-logo-text:nth-child(1n){
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 700;
    font-family: 'Verdana', sans-serif;
    margin: 0;
}
    
.header-logo-text:last-child{
    text-transform: uppercase;
    font-family: 'Verdana', sans-serif;
    font-size: 18px;
    font-weight: 700;
    display: block;
    margin: 0;
}

.right-flex-contacts {
    line-height: 1.3;
    padding: 0;
}
    
.contact-email {
    font-family: 'Verdana', sans-serif;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
}
    
.contact-phone {    
    text-align: right;
    font-family: 'Verdana', sans-serif;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
} 

/* HEADER-END */
/*  FLEXBOX START */

.flex-container {
    display: flex;
    justify-content: space-between;
}
.logotype-title-flex {
    display: flex;
    flex-direction: column;
}

.header-logo-link {
    display: flex;
    text-decoration: none;
    color: #fff;
    margin-top: 5px;
}

.top-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hover-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 42px;
    transition: 0.6s ease-out;
    box-sizing: border-box;
    width: 311px;
border-radius: 2px;
    /* overflow: hidden;
    height: 0px; */
    height: 63px;
    opacity: 0;
    background-color: #f26522;
}

/* FLEXBOX-END */
/* HOVER START */

.header-logo-link:hover .header-logo-img  {
    background-position: -76px -10px;
    color: #f26522;
}

.header-logo-link:hover   {
    color: #f26522;
}

.tour-type:hover .tour-name {
    color:#f26522;
}
    
.tour-type:hover .hover-details {
    height: 63px;
    opacity: 1;
} 

    
.hover-details-left p:nth-child(2):hover{
    transform: scale(1.1);
} 
    .hover-details-left p:nth-child(1):hover {
    transform: scale(1.1);
}

.hover-details-right:hover  {
    cursor: pointer;
    text-shadow: -5px 0 15px;  
    transform: translateX(5px);
}

/* HOVER-END */

/* TOURS LIST START */

.tours-list {
    display: block;
}
.tour-type-img {
    box-shadow:black 2px 16px 20px 0;
    border-left: 2px inset #fff;
    border-right: 2px outset #fff;
    border-top: 2px solid #fff;
       }  

.tour-type {
    margin-top: 48px;
    position: relative;
}

.tour-name {
    font-family: 'Verdana', sans-serif;
    color:  #fff;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 22px;
}

.hover-details-left p {
    /* margin-top: 16px; */
    padding-left: 21px;
    font-family: Verdana;
    color:  #fff;
    font-size: 10px;
    font-weight: 400;
    transition: 0.3s ease-out;
}

.hover-details-left p:nth-child(2) {
    margin-top: 0;
    font-family: Verdana;
    color:  #fff;
    font-size: 20px;
    font-weight: 400;

}

.hover-details-right {
    padding-right: 15px;
    align-self: flex-end;
    padding-bottom: 17px;
    font-family: Verdana;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 400;
    transition: 0.3s ease-out;
}

.hover-details-right p:after {
        content: "\203A";
        margin-left: 15px;
}
    
/* TOURS-LIST END */
/* FOOTER START */

.copyright {
    margin-top: 41px;
    text-align: center;
    font-family: Verdana;
    color:  #fff;
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 15px;
}

    /* FOOTER END */